<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application android:theme="@style/AppTheme" android:label="Piyare Mobile Telecom" android:icon="@drawable/logo" android:roundIcon="@drawable/logo" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".AdminActivity" android:exported="false" android:screenOrientation="unspecified" />
        <activity android:name=".MainActivity" android:exported="false" android:screenOrientation="unspecified" />
        <activity android:name=".HomeActivity" android:exported="true" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".SmsBridgeService" android:exported="false" android:foregroundServiceType="dataSync" />
        <receiver android:name=".BootReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
